body {
    /* margin: 0px; */
    background-color: rgb(222, 225, 232);
    display: flex;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

p {
    font-size: 20px;
}

#maincontainer {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
    height: auto;
    background-color: rgb(255, 255, 255);
}

.title {
    font-size: 125px;
    display: flex;
    justify-content: space-around;
    background-color: rgb(136, 151, 201);
    height: 171px;
    margin: 0;
    width: auto; 
    text-align: center;
}

ul {
    list-style-type: none;
    
}
 .nav {
    align-self: center;
 }

 #nav {
    background-color: rgba(136, 151, 201, 0.494);    
    display: flex;
    justify-content: space-around;
 }

 #container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px;
 }

#box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

#boxtwo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

#boxthree {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

#art {
    font-size: 125px;
    display: flex;
    justify-content: space-around;
    background-color: rgb(136, 151, 201);
    height: 171px;
    /* margin-top: 50px; */
    margin: 0;
    width: auto; 
    text-align: center;
}

#artcontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px;
}

#artone {
    flex-direction: column;
    align-items: center;
    margin: 10px;
    background-color: grey;
}

#arttwo {
    flex-direction: column;
    align-items: center;
    background-color: grey;
    margin: 10px;
}

#artthree {
    flex-direction: column;
    align-items: center;
    background-color: grey;
    margin: 10px;
}

#writing {
    font-size: 125px;
    display: flex;
    justify-content: space-around;
    background-color: rgb(136, 151, 201);
    height: 171px;
    margin: 0;
    width: auto; 
    text-align: center;
}


footer {
    /* position: absolute; */
    display: flex;
    justify-content: center;
    background-color: rgb(136, 151, 201);
    width: auto; 
    text-align: center;
    /* border: black solid 5px; */
}

#info {
    align-items: center;
    flex-direction: column;
    /* border: black solid 5px; */
    width: 500px;
    font-size: 15px;
}

#boxfour {
    display: flex;
    /* background-color: grey; */
    justify-content: space-around;

}

.writing {
    border: black solid 3pt;
    /* background-color: white; */
    margin: 2%;
}

.abt {
    /* overflow: scroll; */
    margin: 2%;
}