body {
    margin: 0px;
    background-color: rgb(222, 225, 232);
    display: flex;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
p {
    font-size: 20px;
    font-kerning: auto;
}

#maincontainer {
    position: absolute;
    left: 0;
    right: 0;
    /* margin: 50px; */
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
    height: auto;
    background-color: rgb(255, 255, 255);
}

.title {
    font-size: 125px;
    display: flex;
    justify-content: space-around;
    background-color: rgb(136, 151, 201);
    height: 171px;
    margin: 0;
    width: auto; 
    text-align: center;
    color: black;
    transition-property: color;
    transition-duration: 1s;
    transition-delay: .25s;
}

.title:hover {
    font-size: 125px;
    display: flex;
    justify-content: space-around;
    background-color: rgb(136, 151, 201);
    height: 171px;
    margin: 0;
    width: auto; 
    text-align: center;
    color: rgb(99, 99, 99);
    transition-property: color;
    transition-duration: 1s;
    transition-delay: .25s;
}

a {
    text-decoration: none;
    color: black;
    transition-property: color;
}

a:hover{
    text-decoration: none;
    color: rgb(103, 103, 103);
    transition-property: color;
    transition-delay: .5s;
}

ul {
    list-style-type: none;
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    /* text-align: center; */
    text-decoration: none;
    background-color: rgba(136, 151, 201, 0.494);    
    height: 100px;
    padding: 0%;
    margin: 0%;
    align-items: center;
    text-decoration: none;
}

li{
    color: black;
}

 .nav {
    display: flex;
    align-self: center;
    justify-content: space-around;
    font-size: 30px;
    color: black;
    text-decoration: none;
}


 /* #nav {
    background-color: rgba(136, 151, 201, 0.494);    
    display: flex;
    justify-content: space-around;
    text-align: center;
    flex-direction: row;
 } */

 #about {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px;
    /* flex-direction: column-wrap; */
    height: 700px;
 }

h2 {
    margin: 3%;
}
#box {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin: 10px; */
    width: 300px;
    height: 263px;
    /* border: 5px solid black; */
    margin: 0px;
}

#boxtwo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    width: 208px ;
    height: 408px;
    margin: 0px;
}

#boxthree {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    width: 430px;
    height: 480px ;  
    margin: 0px;
}

#boxfour {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    /* width: 196px;
    height: 463px; */
    /* border: 5px solid black; */
}

#art {
    font-size: 125px;
    display: flex;
    justify-content: space-around;
    background-color: rgb(136, 151, 201);
    height: 171px;
    /* margin-top: 50px; */
    margin: 0;
    width: auto; 
    text-align: center;
}

#artcontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px;
}

#artone {
    flex-direction: column;
    align-items: center;
    margin: 10px;
    background-color: rgb(255, 255, 255);
}

#arttwo {
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255);
    margin: 10px;
}



#writing {
    font-size: 125px;
    display: flex;
    justify-content: space-around;
    background-color: rgb(136, 151, 201);
    height: 171px;
    margin: 0;
    width: auto; 
    text-align: center;
}


footer {
    /* position: absolute; */
    display: flex;
    justify-content: center;
    background-color: rgb(136, 151, 201);
    width: auto; 
    text-align: center;
    /* border: black solid 5px; */
}

#info {
    align-items: center;
    flex-direction: column;
    /* border: black solid 5px; */
    width: 500px;
    font-size: 15px;
}

#boxfour {
    display: flex;
    /* background-color: grey; */
    justify-content: space-around;
    flex-direction: row;
    /* height: 1000px; */
    width: auto;
}

.writing {
    border: black solid 3pt;
    /* background-color: white; */
    margin: 2%;
    width: 2500px;
    padding: 10px;
}

.abt {
    /* overflow: scroll; */
    margin: 2%;
    border: black solid 3pt;
    padding: 10px;
}


